@model List<Contact>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            @foreach (var contact in Model)
            {
                <li class="list-group-item"><a href="@Url.Action("Contact", new {id = contact.Id.HashId()})">@contact.FirstName</a></li>
            }
        </ul>
    </div>
</div>